@use "../tools/box-shadow.scss" as shadow;
@use "../tools/hover.scss" as effect;
@use "../tools/colors.scss" as colors;
@use "../tools/linear-gradient.scss" as gradient;

.exploration {
    text-align: center;
    background-color: colors.$lightgrey;
    padding: 0.2rem 0 3rem;
    & h2 {
        margin-top: 2rem;
    }
    & button {
        @include gradient.gradient;
        color: white;
        font-weight: 700;
        padding: 1rem 1.5rem;
        border-radius: 25%;
        border-radius: 2rem;
        border: none;
        font-size: 1rem;
        margin-top: 15px;
        @include shadow.base-shadow;
    }
    & button:hover {
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.30);
        opacity: 0.8;
        @include effect.hover-effect;
    }
    & p br {
        @media (min-width: 800px) {
            display: none;
        }
    }
}