@use "../tools/box-shadow.scss" as shadow;
@use "../tools/hover.scss" as effect;
@use "../tools/colors.scss" as colors;
@use "../tools/linear-gradient.scss" as gradient;
@use "../tools/buttons.scss";

.exploration {
    text-align: center;
    background-color: colors.$lightgrey;
    padding: 0.2rem 0 3rem;
    & h2 {
        margin-top: 2rem;
    }
    & button {
        @include buttons.main-button;
    }
    & p br, 
    & h2 br {
        @media (min-width: 800px) {
            display: none;
        }
    }
}