 header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 4px 3px 0 lightgrey;
    padding: 1px ;
    position: relative;
    & h1 {
        margin: 0.5rem;
    }
  }
