@use "../tools/colors.scss";
@use "../tools/box-shadow.scss" as shadow;
@use "../tools/hover.scss" as effect;
@use "../tools/linear-gradient.scss" as gradient;

.menu {
    background-color: colors.$lightgrey;
    padding: 1rem 1rem 4rem 1rem;
  &__card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    @media (min-width: 1024px) {
        max-width: 1268px;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        padding-top: 1rem;
    }
    & .card:hover {
        @include effect.hover-effect;
      }
  }
   &__card .new {
       position: relative;
   }
    .new::before {
        content: "Nouveau";
        position: absolute ;
        height: 2.1rem;
        width: 5.5rem;
        background-color: colors.$minth;
        color: darken(colors.$minth, $amount: 35%);
        font-weight: 500;
        display: grid;
        place-items: center;
        border-radius: 2px;
        top: 1rem;
        right: 1rem;
    }
  & h2 {
    margin-top: 2rem;
    @media (min-width: 1024px) {
      max-width: 1268px;
      margin: auto;
      padding-top: 2rem;
    }
  }
  & .card {
      @for $i from 1 through 4 {
          &__images-#{$i} {
            background-image: url("images/menu-#{$i}.jpg");
          }
      }
      &__images {
          height: 13rem; 
          background-size: cover;
          border-radius: 20px 20px 0 0;
          @include shadow.base-shadow;
          background-position: center 63%;
      }
      &__description {
          position: relative;
          background-color: white;
          border-radius: 0 0 20px 20px;
          padding-bottom: 10px;
          @include shadow.base-shadow;
        h3, p {
          padding-left: 1rem;
        }
        h3 {
            margin: 0;
            padding-top: 1rem;
        }
        p {
            line-height: 0;
        }
          i {
              font-size: 2rem;
              position: absolute;
              right: 1rem;
              top: 50%;
              transform: translateY(-50%);
          }
         .fas {
              color: transparent;
              background-clip: text;
              -webkit-background-clip: text;
              opacity: 0;
              transition: all 150ms ease-in;
              @include gradient.gradient;
            }
          .fas:hover {
              opacity: 1;
              transform: translateY(-50%) scale(1.2);
          }
        }
    }
}
