@use "../tools/hover.scss" as effect;
@use "../tools/box-shadow.scss" as shadow;
@use "../tools/colors.scss";


.tutorial  {
    counter-reset: step;
    padding: 1rem;
    @media (min-width: 1024px) {
        max-width: 1300px;
        margin: auto;
    }
    & h2 {
    margin-top: 2rem;
    }
    & ol {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        list-style-type: none;
        margin-top: 1rem;
        padding: 1rem 0rem 2rem 1rem;
        @media (min-width: 1024px) {
        flex-direction: row;
        gap: 2.5rem;
        }
    }
    & li {
        position: relative;
        @media (min-width: 1024px) {
            width: 25rem;
        }
        &::before {
            counter-increment: step;
            content: counter(step);
            color: white;
            background-color: colors.$purple;
            width: 2rem;
            height: 2rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: 50%;
            left: -1rem;
            transform: translateY(50%);
        }
        display: flex;
        justify-content: center;
        background-color: colors.$lightgrey;
        padding: 36px;
        border-radius: 1rem;
        font-weight: 500;
        @include shadow.base-shadow;
        &:hover {
            @include effect.hover-effect;
            background-color: #f5edff;
        }
        &:hover i {
            color: colors.$purple;
        }
        & i {
            color: #7e7e7e;
            font-size: 1.4rem;
            position: absolute;
            left: 40px;
            top: 24px;
        } 
        & span {
            position: absolute;
            margin-right: 2rem;
            left: 85px;
            top: 26px;
            @media (max-width: 300px) {
                top: 16px;
            }
        }      
    }
}