@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 4px 3px 0 lightgrey;
  padding: 1px;
  position: relative;
}
header h1 {
  margin: 0.5rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  background-color: #eaeaea;
  padding: 0.2rem;
}
.city.fas {
  font-size: 1.3rem;
}
.city h2 {
  font-weight: 600;
  font-size: 1.03rem;
  margin-right: 26px;
}

.exploration {
  text-align: center;
  background-color: #f6f6f6;
  padding: 0.2rem 0 3rem;
}
.exploration h2 {
  margin-top: 2rem;
}
.exploration button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  color: white;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 25%;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  margin-top: 15px;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
}
.exploration button:hover {
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
.exploration button:hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}
@media (min-width: 800px) {
  .exploration p br, .exploration h2 br {
    display: none;
  }
}

.loader {
  display: grid;
  position: fixed;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loading 500ms 1s both;
}
.loader::after {
  content: "";
  height: 90px;
  width: 90px;
  border-right: 5px solid transparent;
  border-top: 5px solid #FF79DA;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
  animation-iteration-count: 1;
}

@keyframes loading {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.tutorial {
  counter-reset: step;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .tutorial {
    max-width: 1300px;
    margin: auto;
  }
}
.tutorial h2 {
  margin-top: 2rem;
}
.tutorial ol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  margin-top: 1rem;
  padding: 1rem 0rem 2rem 1rem;
}
@media (min-width: 1024px) {
  .tutorial ol {
    flex-direction: row;
    gap: 2.5rem;
  }
}
.tutorial li {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 36px;
  border-radius: 1rem;
  font-weight: 500;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
}
@media (min-width: 1024px) {
  .tutorial li {
    width: 25rem;
  }
}
.tutorial li::before {
  counter-increment: step;
  content: counter(step);
  color: white;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: -1rem;
  transform: translateY(50%);
}
.tutorial li:hover {
  background-color: #f5edff;
}
.tutorial li:hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.tutorial li:hover i {
  color: #9356DC;
}
.tutorial li i {
  color: #7e7e7e;
  font-size: 1.4rem;
  position: absolute;
  left: 40px;
  top: 24px;
}
.tutorial li span {
  position: absolute;
  margin-right: 2rem;
  left: 85px;
  top: 26px;
}
@media (max-width: 300px) {
  .tutorial li span {
    top: 16px;
  }
}

.menu {
  background-color: #f6f6f6;
  padding: 1rem 1rem 4rem 1rem;
}
.menu__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 766px) {
  .menu__card {
    max-width: 1268px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
  }
}
.menu__card .card:hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.menu__card .new {
  position: relative;
}
.menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2.1rem;
  width: 5.5rem;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 500;
  display: grid;
  place-items: center;
  border-radius: 2px;
  top: 1rem;
  right: 1rem;
}
.menu h2 {
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  .menu h2 {
    max-width: 1268px;
    margin: auto;
    padding-top: 2rem;
  }
}
.menu .card__images-1 {
  background-image: url("images/menu-1new.jpg");
}
.menu .card__images-2 {
  background-image: url("images/menu-2new.jpg");
}
.menu .card__images-3 {
  background-image: url("images/menu-3new.jpg");
}
.menu .card__images-4 {
  background-image: url("images/menu-4new.jpg");
}
.menu .card__images {
  height: 13rem;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
  background-position: center 63%;
}
.menu .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding-bottom: 10px;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
}
.menu .card__description h3, .menu .card__description p {
  padding-left: 1rem;
}
.menu .card__description h3 {
  margin: 0;
  padding-top: 1rem;
}
.menu .card__description p {
  line-height: 0;
}
.menu .card__description i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.menu .card__description .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 150ms ease-in;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
.menu .card__description .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  padding: 0.5rem 0rem 1rem 1rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: larger;
}
@media (min-width: 1024px) {
  footer h2 {
    max-width: 1280px;
    margin: auto;
    padding: 1rem 0rem 0.5rem 0rem;
  }
}
@media (min-width: 1024px) {
  footer p {
    max-width: 1280px;
    margin: auto;
    padding-top: 0.5rem;
  }
}
footer i {
  padding-right: 1rem;
  width: 1.8rem;
}
footer a:hover {
  text-decoration: underline;
}

@keyframes appearance {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.anim-1 {
  animation-delay: 0.1s;
}

.anim-2 {
  animation-delay: 0.2s;
}

.anim-3 {
  animation-delay: 0.3s;
}

.anim-4 {
  animation-delay: 0.4s;
}

.anim-5 {
  animation-delay: 0.5s;
}

.anim-6 {
  animation-delay: 0.6s;
}

.anim-7 {
  animation-delay: 0.7s;
}

.anim-8 {
  animation-delay: 0.8s;
}

.anim-9 {
  animation-delay: 0.9s;
}

#page header {
  box-shadow: none;
  padding: 0;
}
@media (min-width: 1024px) {
  #page header {
    max-width: 1000px;
    margin: auto;
  }
}
#page header a {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}
#page header h1 {
  margin: 0.5rem;
}
#page .menu-banner img {
  max-width: 100%;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  display: block;
}
@media (min-width: 1024px) {
  #page .menu-banner img {
    height: 30rem;
  }
}
#page .title {
  margin-top: -5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  #page .title {
    max-width: 1000px;
    margin: auto;
    height: 8vh;
    margin-top: -5rem;
  }
}
#page .title h2 {
  padding: 2rem 1rem 1rem 1rem;
  position: relative;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
#page .title h2 i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#page .title h2 .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 150ms ease-in;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
#page .title h2 .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#page .title h2 i {
  right: 2rem;
  top: 56%;
}
#page .menus {
  padding: 0 1rem;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin-top: -3rem;
}
@media (min-width: 1024px) {
  #page .menus {
    max-width: 1000px;
    margin: auto;
  }
}
#page .menus h3 {
  font-weight: 400;
  position: relative;
  margin: 2rem 0rem 1.25rem 0rem;
}
#page .menus h3::after {
  content: "";
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  top: 25px;
}
#page .menus h4, #page .menus p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page .menus .menus__card {
  overflow: hidden;
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 1rem;
  animation: appearance 1s;
  animation-fill-mode: both;
  animation-duration: 1s;
}
#page .menus .menus__card.anim-1 {
  animation-delay: 0.1s;
}
#page .menus .menus__card.anim-2 {
  animation-delay: 0.2s;
}
#page .menus .menus__card.anim-3 {
  animation-delay: 0.3s;
}
#page .menus .menus__card.anim-4 {
  animation-delay: 0.4s;
}
#page .menus .menus__card.anim-5 {
  animation-delay: 0.5s;
}
#page .menus .menus__card.anim-6 {
  animation-delay: 0.6s;
}
#page .menus .menus__card.anim-7 {
  animation-delay: 0.7s;
}
#page .menus .menus__card.anim-8 {
  animation-delay: 0.8s;
}
#page .menus .menus__card.anim-9 {
  animation-delay: 0.9s;
}
#page .menu-item {
  background-color: white;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}
#page .menu-item__price {
  margin-left: auto;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page .menu-item__description {
  padding: 1rem;
  overflow: hidden;
  display: grid;
  gap: 0.3rem;
}
#page .menu-item__description h4 {
  font-size: larger;
}
#page .menu-item__check {
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 500ms;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
#page .menu-item__check i {
  color: white;
  font-size: 1.5rem;
}
#page .menu-item:hover {
  cursor: pointer;
}
#page .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page .menu-item:hover i {
  animation: animate-spin 0.5s ease-in-out;
}
@keyframes animate-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page .order {
  height: 22vh;
  background-color: #f6f6f6;
  display: grid;
  place-items: center;
}
@media (min-width: 1024px) {
  #page .order {
    max-width: 1000px;
    margin: auto;
  }
}
#page .order button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  color: white;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 25%;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  margin-top: 15px;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
  padding: 1rem 3rem;
  margin-bottom: 3rem;
}
#page .order button:hover {
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
#page .order button:hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}
@media (min-width: 1024px) {
  #page footer h2 {
    max-width: 1000px;
    margin: auto;
    padding: 1rem 0rem 0.5rem 0rem;
  }
}
@media (min-width: 1024px) {
  #page footer p {
    max-width: 1000px;
    margin: auto;
    padding-top: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
