@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 4px 3px 0px lightgrey;
  padding: 1px;
  position: relative;
}
header h1 {
  margin: 0.5rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  background-color: #eaeaea;
  padding: 0.2rem;
}
.city.fas {
  font-size: 1.3rem;
}
.city h2 {
  font-weight: 600;
  font-size: 1.03rem;
  margin-right: 26px;
}

.exploration {
  text-align: center;
  background-color: #f6f6f6;
  padding: 0.2rem 0 3rem;
}
.exploration h2 {
  margin-top: 2rem;
}
.exploration button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  color: white;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 25%;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  margin-top: 15px;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
}
.exploration button:hover {
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
.exploration button:hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}
@media (min-width: 800px) {
  .exploration p br, .exploration h2 br {
    display: none;
  }
}

.tutorial {
  counter-reset: step;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .tutorial {
    max-width: 1300px;
    margin: auto;
  }
}
.tutorial h2 {
  margin-top: 2rem;
}
.tutorial ol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  margin-top: 1rem;
  padding: 1rem 0rem 2rem 1rem;
}
@media (min-width: 1024px) {
  .tutorial ol {
    flex-direction: row;
    gap: 2.5rem;
  }
}
.tutorial li {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 36px;
  border-radius: 1rem;
  font-weight: 500;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
}
@media (min-width: 1024px) {
  .tutorial li {
    width: 25rem;
  }
}
.tutorial li::before {
  counter-increment: step;
  content: counter(step);
  color: white;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: -1rem;
  transform: translateY(50%);
}
.tutorial li:hover {
  background-color: #f5edff;
}
.tutorial li:hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.tutorial li:hover i {
  color: #9356DC;
}
.tutorial li i {
  color: #7e7e7e;
  font-size: 1.4rem;
  position: absolute;
  left: 40px;
  top: 24px;
}
.tutorial li span {
  position: absolute;
  margin-right: 2rem;
  left: 85px;
  top: 26px;
}
@media (max-width: 300px) {
  .tutorial li span {
    top: 16px;
  }
}

.menu {
  background-color: #f6f6f6;
  padding: 1rem 1rem 4rem 1rem;
}
.menu__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 1024px) {
  .menu__card {
    max-width: 1268px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
  }
}
.menu__card .card:hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.menu__card .new {
  position: relative;
}
.menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2.1rem;
  width: 5.5rem;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 500;
  display: grid;
  place-items: center;
  border-radius: 2px;
  top: 1rem;
  right: 1rem;
}
.menu h2 {
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  .menu h2 {
    max-width: 1268px;
    margin: auto;
    padding-top: 2rem;
  }
}
.menu .card__images-1 {
  background-image: url("images/menu-1.jpg");
}
.menu .card__images-2 {
  background-image: url("images/menu-2.jpg");
}
.menu .card__images-3 {
  background-image: url("images/menu-3.jpg");
}
.menu .card__images-4 {
  background-image: url("images/menu-4.jpg");
}
.menu .card__images {
  height: 13rem;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
  background-position: center 63%;
}
.menu .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding-bottom: 10px;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
}
.menu .card__description h3, .menu .card__description p {
  padding-left: 1rem;
}
.menu .card__description h3 {
  margin: 0;
  padding-top: 1rem;
}
.menu .card__description p {
  line-height: 0;
}
.menu .card__description i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.menu .card__description .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 150ms ease-in;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
.menu .card__description .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  padding: 0.5rem 0rem 1rem 1rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: larger;
}
@media (min-width: 1024px) {
  footer h2 {
    max-width: 1280px;
    margin: auto;
    padding: 1rem 0rem 0.5rem 0rem;
  }
}
@media (min-width: 1024px) {
  footer p {
    max-width: 1280px;
    margin: auto;
    padding-top: 0.5rem;
  }
}
footer i {
  padding-right: 1rem;
  width: 1.8rem;
}
footer a:hover {
  text-decoration: underline;
}

#page-menu header {
  box-shadow: none;
  padding: 0;
}
#page-menu header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f060";
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}
#page-menu header h1 {
  margin: 0.5rem;
}
#page-menu .menu-banner img {
  max-width: 100%;
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
  display: block;
}
#page-menu .title {
  margin-top: -5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  padding-bottom: 1rem;
}
#page-menu .title h2 {
  padding: 2rem 1rem 1rem 1rem;
  position: relative;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
#page-menu .title h2 i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#page-menu .title h2 .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 150ms ease-in;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
#page-menu .title h2 .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
#page-menu .title h2 i {
  right: 2rem;
  top: 56%;
}
#page-menu .menus {
  padding: 0 1rem;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin-top: -3rem;
}
#page-menu .menus h3 {
  font-weight: 400;
  position: relative;
  margin: 2rem 0rem 1.25rem 0rem;
}
#page-menu .menus h3::after {
  content: "";
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  top: 25px;
}
#page-menu .menus h4, #page-menu .menus p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-menu .menus__card {
  overflow: hidden;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
#page-menu .menus .menu-item {
  background-color: white;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}
#page-menu .menus .menu-item__price {
  margin-left: auto;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-menu .menus .menu-item__description {
  padding: 1rem;
  overflow: hidden;
  display: grid;
  gap: 0.3rem;
}
#page-menu .menus .menu-item__description h4 {
  font-size: larger;
}
#page-menu .menus .menu-item__check {
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 500ms;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
#page-menu .menus .menu-item__check i {
  color: white;
  font-size: 1.5rem;
}
#page-menu .menus .menu-item:hover {
  cursor: pointer;
}
#page-menu .menus .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-menu .menus .menu-item:hover i {
  animation: animate-spin 0.5s ease-in-out;
}
@keyframes animate-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-menu .order {
  height: 22vh;
  background-color: #f6f6f6;
  display: grid;
  place-items: center;
}
#page-menu .order button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  color: white;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 25%;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  margin-top: 15px;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.17);
  padding: 1rem 3rem;
  margin-bottom: 3rem;
}
#page-menu .order button:hover {
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
#page-menu .order button:hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
