@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0px 4px 3px 0px lightgrey;
    padding: 1px ;
    position: relative;
}

.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    background-color: #eaeaea;
    padding: .2rem ;
}

.city .fas {
   font-size: 1.3rem;
}

.city h2 {
    font-weight: 600;
    font-size: 1.03rem;
    margin-right: 26px;
}